
#main{
    border: 1px solid black;
    background-color: yellow;
    width: 70%; 
    overflow: hidden;
    
}
 header{

    margin: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: green;
}
.div1{
    margin: 5px;
    width: inherit;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: blue;
}

.div3{
    margin: 5px;
    width: 27%;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    background-color: green;
    overflow: hidden;
    
}
.div4{
    margin: 5px;
    width: 69%;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    background-color:pink;
    overflow: hidden;
}
footer{
    border: 1px solid black;
    background-color: orange;
    margin: 5px;
    text-align: center;
}



/* Assingmint 3-2 */

.div50 {
    max-width: 70%;
    height: 70%;
    border: 1px solid lightblue;
    margin: auto;
    margin-top: 5px;
}

.box1{
    width: 20%;
    height: 300px;
    border: 1px solid lightblue;
    margin-left: 15%;
    margin-top: 5px;
    float: left;

}

.box2{
    width: 29%;
    height: 300px;
    border: 1px solid lightblue;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
 
}

.box3{
    width: 20%;
    height: 300px;
    border: 1px solid lightblue;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
   
}



.box4{
    width: 70%;
    height: 50px;
    border: 1px solid lightblue;
    margin: auto;
    margin-top: 310px;

}



/* Assingmint 3-3 */


#main3{
    border: 1px solid black;
    width: 98%;
    height: auto;
    overflow: hidden;

    
}
.div9{
 border: 2px solid black;
 width: 99.8%;
 height: 100%;
 overflow: hidden;
 
 
}
#in15{
    /* border: 1px solid black; */
    margin: 5px;
    
    overflow: hidden;
    display: inline-block;
    width: 29%;
    height: 350px;
    overflow: hidden;
    
}
.a10{
    border: 2px solid black;
    width: 80%;
    height: 100px;
    background-color: lightcoral;
    margin: 5px;
    
    
    
    
    
}
#in16{
    /* border: 1px solid black; */
    margin: 5px;
    display: inline-block;
    width: 68%;
    height: 350px;
    overflow: hidden;
    
}

.a11{
    border: 2px solid black;
    width: 95%;
    height: 100px;
    background-color: lightcoral;
    margin: 5px;
    background-color: aqua;
   
}   
#asg{
    border: 2px solid black;
    width: 99.5%;
    height: 95px;
    overflow: hidden;
}
